chromedriver-win64/
screenshot_debug.png
screenshot_debug.png
nn_test.ipynb
nn_test.py
Rapport/main.aux
Rapport/main.aux
Rapport/main.blg
Rapport/main.fdb_latexmk
Rapport/main.fls
Rapport/main.log
Rapport/main.out
Rapport/main.synctex.gz
Rapport/main.toc
Rapport/main.xdv

old_shi_2.py
test.py
old_shi.py
master2.py
notes.txt
extra/
*.pt
/nginx-1.27.3/logs
